
<div class="perfil-card">
    <!-- por ahora sin avatar <img [src]="user.avatarUrl" alt="{{ user.name }}" class="avatar" /> -->
    <h2>Bienvenido, gerente del proyecto id: #{{userGerente.id_proyecto}} </h2>
    <span class="separador"></span>
    <p class="descripcion">Descripción del proyecto: <span style="font-style: italic; color: #ff0562;">{{ userGerente.descripcion }}</span></p>
   
    
</div>

<div class="contratos-card">
<h1>Mis contratos</h1>

<app-contratos [from]="userType"></app-contratos>
</div>

<!-- <section class="botonera"> -->
<!--         <button class="btn btn-signup" routerLink="/contratos">Mis contratos</button> -->
<!--          -->
<!--     </section> -->
